@model CrudDF3.Models.PaquetesTuristico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaquetesTuristico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilidadPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilidadPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinoPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinoPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPaquete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoViajePaquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoViajePaquete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPaquete">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
